name: Build

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: msys2/setup-msys2@v2
      with:
        update: true
        install: >-
          base-devel
          git
          mingw-w64-x86_64-toolchain
          mingw-w64-x86_64-cmake
          mingw-w64-x86_64-autotools
          mingw-w64-x86_64-pkg-config
          mingw-w64-x86_64-openssl
          mingw-w64-x86_64-libzip
          mingw-w64-x86_64-curl
          mingw-w64-x86_64-libusb

    - name: Build
      shell: msys2 {0}
      run: |
        set -e
        mkdir -p rel
        export PATH=/mingw64/bin:$PATH
        for repo in libplist libimobiledevice-glue libusbmuxd libirecovery libtatsu libimobiledevice idevicerestore; do
          git clone --depth=1 https://github.com/libimobiledevice/$repo
          cd $repo
          ./autogen.sh
          make -j$(nproc)
          make install
          cd ..
        done
        find /mingw64/bin/ -type f \( \
          -name "*idevice*" -o \
          -name "libimobiledevice*" -o \
          -name "libplist*" -o \
          -name "plistutil.exe" -o \
          -name "afcclient.exe" -o \
          -name "libusbmuxd*" -o \
          -name "inetcat.exe" -o \
          -name "iproxy.exe" -o \
          -name "libtatsu*.dll" -o \
          -name "zlib*.dll" -o \
          -name "libbrotli*.dll" -o \
          -name "libiconv*.dll" -o \
          -name "libunistring*.dll" -o \
          -name "libssh*.dll" -o \
          -name "libintl*.dll" -o \
          -name "libidn*.dll" -o \
          -name "libnghttp*.dll" -o \
          -name "libpsl*.dll" -o \
          -name "libzstd*.dll" -o \
          -name "libcrypto*.dll" -o \
          -name "libssl*.dll" \
        \) -exec cp -v {} rel \;

    - uses: actions/upload-artifact@v4
      with:
        name: idevicerestore-windows
        path: rel
